@media only screen and (min-device-width : 320px) and (max-device-width : 479px){
  .row{
    max-width: 320px;
  }
  .filterdropdown{
    margin: 0px;
    margin-right: 10%;
  }

}
@media only screen and (min-device-width : 480px) and (max-device-width : 767px){
  .row{
    max-width: 320px;
  }
  .filterdropdown{
    margin: 0px;
    margin-right: 10%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
  .row{
    max-width: 640px;
  }
  .filterdropdown{
    margin: 0px;
    margin-right: 10%;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1280px){
  .row{
    max-width: 960px;
  }
  .filterdropdown{
    margin: 0px;
    margin-right: 13%;
  }
}
@media only screen and (min-device-width : 1281px) and (max-device-width : 1439px){
  .row{
    max-width: 1280px;
  }
  .filterdropdown{
    margin: 0px;
    margin-right: 7%;
  }
}
@media only screen and (min-device-width : 1440px) and (max-device-width : 1823px){
  .filterdropdown{
    margin: 0px;
    margin-right: 7%;
  }
}
@media only screen and (min-device-width : 1824px) and (max-device-width : 1919px){
  .filterdropdown{
    margin: 0px;
    margin-right: 16%;
  }
}
@media only screen and (min-device-width : 1920px) and (max-device-width : 2047px){

}
@media only screen and (min-device-width : 2048px) and (max-device-width : 2560px){
  .filterdropdown{
    margin: 0px;
    margin-right: 20%;
  }
}
